<form [formGroup]="vehicleCreateForm">
  <div class="container">

      <div class="flex-wrapper">
           <mat-form-field style="width: 30%;">
              <input matInput placeholder="Brand" name="brand" formControlName="brand">
              <!-- <mat-error *ngIf="!email.valid && (email.touched || email.dirty)">Email is required</mat-error> -->
          </mat-form-field>

          <mat-form-field style="width: 30%;">
              <input matInput placeholder="Model" name="model" formControlName="model">
              <!-- <mat-error *ngIf="!email.valid && (email.touched || email.dirty)">Email is required</mat-error> -->
          </mat-form-field>
      </div>

      <div class="flex-wrapper">
        <mat-form-field style="width: 30%;">
          <input matInput [matDatepicker]="picker" placeholder="Manufactoring Year" name="manufactoringYear" formControlName="manufactoringYear" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <!-- <mat-error *ngIf="!birthdate.valid && (birthdate.touched || birthdate.dirty)">Birthdate is required</mat-error> -->
        </mat-form-field>

        <mat-form-field style="width: 30%;">
          <input matInput [matDatepicker]="pickerModelYear" placeholder="Model Year" name="modelYear" formControlName="modelYear" required>
          <mat-datepicker-toggle matSuffix [for]="pickerModelYear"></mat-datepicker-toggle>
          <mat-datepicker #pickerModelYear></mat-datepicker>
          <!-- <mat-error *ngIf="!birthdate.valid && (birthdate.touched || birthdate.dirty)">Birthdate is required</mat-error> -->
        </mat-form-field>
      </div>


      <mat-form-field style="width: 30%;">
        <mat-label>Color</mat-label>
        <mat-select name="animalSpecies" formControlName="color">
            <mat-option *ngFor="let color of colors" [value]="color.value" >
                {{color.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

      <div class="flex-wrapper">
          <mat-form-field style="width: 30%;">
              <input matInput placeholder="Chassis Number" name="chassisNumber" formControlName="chassisNumber">
              <!-- <mat-error *ngIf="!name.valid && (name.touched || name.dirty)">Name is required</mat-error> -->
          </mat-form-field>

          <mat-form-field style="width: 30%;">
              <input matInput placeholder="Current Mileage" type="number" name="currentMileage" formControlName="currentMileage">
              <!-- <mat-error *ngIf="!email.valid && (email.touched || email.dirty)">Email is required</mat-error> -->
          </mat-form-field>
          
          <mat-form-field style="width: 30%;">
            <input matInput placeholder="Current Fipe Value" type="number" name="currentFipeValue" formControlName="currentFipeValue">
            <!-- <mat-error *ngIf="!email.valid && (email.touched || email.dirty)">Email is required</mat-error> -->
        </mat-form-field> 
      </div>
      <div class="flex-wrapper">
      <mat-slide-toggle>
        Done Inspection
      </mat-slide-toggle>
    </div>
      <div>
          <button mat-raised-button color="primary" (click)="vehiclePost()" type="submit" [disabled]="!vehicleCreateForm.valid"
              style="margin-top: 10px">Submit</button>
      </div>
  </div>
</form>