<form [formGroup]="telephone" (ngSubmit)="onSubmit()">
  <div class="container">
    <mat-form-field class ="phoneNumber">
      <input matInput placeholder="Telephone Number" name="telephoneNumber" formControlName="telephoneNumber" required>
    </mat-form-field>
    <mat-form-field class="telephone-type">
      <mat-select formControlName="telephoneType"  placeholder="Select Type" required>
        <mat-option value="Home">Commercial</mat-option>
        <mat-option value="Commercial">Residential</mat-option>
        <mat-option value="Cellphone">Cellphone</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="btn-telephone">
    <button color="primary" mat-raised-button >Submit</button>
  </div>
</form>