.container {
    display: flex;
    justify-content: space-around;
    width: 23%;
}

.btn-telephone {
    display: flex;
    padding-top: 10px;
    justify-content: center
}

.telephone-type {
    width: 60%;
}

.phoneNumber {
    justify-content: center
}