.container{
    width: 90%;
    margin: 5px 10px 5px;
    padding-top:  10px;
    padding-bottom: 5px;;
}

.container-12{
    width: 90%;
    margin: 5px 10px 5px;
    padding-top: 5px;
    box-sizing: border-box;
}
.text-filename{
    width: 150px;
    margin: 5px 10px 5px;
}

.text-separator{
    width: 80px;
    margin: 5px 10px 5px;
}