.container{
    width: 90%;
    margin: 5px 10px 5px;
    padding-top:  10px;
    padding-bottom: 5px;;
}

.container-12{
    width: 90%;
    margin: 5px 10px 5px;
    padding-top: 5px;
    box-sizing: border-box;
}
.text-filename{
    width: 150px;
    margin: 5px 10px 5px;
}

.text-separator{
    width: 80px;
    margin: 5px 10px 5px;
}

.greenBackground {
    background-color: #008000;
    color: #e0ffc1;
  }
  
  .blueBackground {
    background-color: #00008b;
    color: white;
  }
  .topContainer {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    align-items: center;
  }
  .topContainer label {
    margin-right: 15px;
  }
  .topContainer button {
    height: 25px;
    cursor: pointer;
  }