<form [formGroup]="mobileDeviceCreateForm">
  <div class="container">

      <div class="flex-wrapper">
           <mat-form-field style="width: 30%;">
              <input matInput placeholder="Brand" name="mobileDeviceBrand" formControlName="mobileDeviceBrand">
              <!-- <mat-error *ngIf="!email.valid && (email.touched || email.dirty)">Email is required</mat-error> -->
          </mat-form-field>

          <mat-form-field style="width: 30%;">
              <input matInput placeholder="Model" name="mobileDeviceModel" formControlName="mobileDeviceModel">
              <!-- <mat-error *ngIf="!email.valid && (email.touched || email.dirty)">Email is required</mat-error> -->
          </mat-form-field>

          <mat-form-field style="width: 30%;">
            <input matInput [matDatepicker]="picker" placeholder="Manufactoring Year" name="mobileDeviceManufactoringYear" formControlName="mobileDeviceManufactoringYear" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <!-- <mat-error *ngIf="!birthdate.valid && (birthdate.touched || birthdate.dirty)">Birthdate is required</mat-error> -->
          </mat-form-field>
      </div>

      <div class="flex-wrapper">
        <mat-form-field style="width: 30%;">
          <input matInput placeholder="Serial Number" name="mobileDeviceSerialNumber" formControlName="mobileDeviceSerialNumber">
          <!-- <mat-error *ngIf="!name.valid && (name.touched || name.dirty)">Name is required</mat-error> -->
        </mat-form-field>

        <mat-form-field style="width: 30%;">
          <mat-label>Type</mat-label>
          <mat-select name="mobileDeviceType" formControlName="mobileDeviceType">
              <mat-option *ngFor="let type of mobileType" [value]="type.value" >
                  {{type.name}}
              </mat-option>
          </mat-select>
      </mat-form-field>

        <mat-form-field style="width: 30%;">
          <input matInput type="number" placeholder="Invoice Value" name="mobileDeviceInvoiceValue" formControlName="mobileDeviceInvoiceValue">
          <!-- <mat-error *ngIf="!name.valid && (name.touched || name.dirty)">Name is required</mat-error> -->
        </mat-form-field>
      </div>
      
      <div>
          <button mat-raised-button color="primary" (click)="mobileDevicePost()" type="submit" [disabled]="!mobileDeviceCreateForm.valid"
              style="margin-top: 10px">Submit</button>
      </div>
  </div>
</form>