<form [formGroup]="vehicleForm">
    <div class="container">
  
        <div class="flex-wrapper">
             <mat-form-field style="width: 30%;">
                <input matInput placeholder="Brand" name="vehicleBrand" maxlength="100" formControlName="vehicleBrand" required>
                <mat-error>Brand is invalid!</mat-error>
            </mat-form-field>
  
            <mat-form-field style="width: 30%;">
                <input matInput placeholder="Model" name="vehicleModel" maxlength="100" formControlName="vehicleModel" required>
                <mat-error>Model is invalid!</mat-error>
              </mat-form-field>
  
            <mat-form-field style="width: 30%;">
                <mat-label>Color</mat-label>
                <mat-select name="Color" formControlName="vehicleColor" required>
                    
                    <mat-option [value]="0">White</mat-option>
                    <mat-option [value]="1">Silver</mat-option>
                    <mat-option [value]="2">Black</mat-option>
                    <mat-option [value]="3">Gray</mat-option>
                    <mat-option [value]="4">Red</mat-option>
                    <mat-option [value]="5">Blue</mat-option>
                    <mat-option [value]="6">Brown</mat-option>
                    <mat-option [value]="7">Yellow</mat-option>
                    <mat-option [value]="8">Green</mat-option>
                    <mat-option [value]="9">Other</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
  
        <div class="flex-wrapper">
          <mat-form-field style="width: 30%;">
            <input matInput [matDatepicker]="picker" maxlength="100" placeholder="Manufactoring Year" name="vehicleManufactoringYear" formControlName="vehicleManufactoringYear" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>Date is invalid!</mat-error>
          </mat-form-field>
  
          <mat-form-field style="width: 30%;">
            <input matInput [matDatepicker]="pickerModelYear" maxlength="100" placeholder="Model Year" name="vehicleModelYear" formControlName="vehicleModelYear" required>
            <mat-datepicker-toggle matSuffix [for]="pickerModelYear"></mat-datepicker-toggle>
            <mat-datepicker #pickerModelYear></mat-datepicker>
            <mat-error>Date is invalid!</mat-error>
          </mat-form-field>
  
          <mat-form-field style="width: 30%;">
              <input matInput placeholder="Chassis Number" maxlength="100" name="vehicleChassisNumber" formControlName="vehicleChassisNumber" required>
              <mat-error>Chassis is invalid!</mat-error>
          </mat-form-field>
        </div>
  
        <div class="flex-wrapper">
            <mat-form-field style="width: 30%;">
                <input matInput placeholder="Current Mileage" maxlength="100" type="number" name="vehicleCurrentMileage" formControlName="vehicleCurrentMileage" required>
                <mat-error>Mileage is invalid!</mat-error>
            </mat-form-field>
            
            <mat-form-field style="width: 30%;">
              <input matInput placeholder="Current Fipe Value" type="number" maxlength="100" name="vehicleCurrentFipeValue" formControlName="vehicleCurrentFipeValue" required>
              <mat-error>Fipe is invalid!</mat-error>
          </mat-form-field> 
        </div>
  
        <mat-slide-toggle name="vehicleDoneInspection" formControlName="vehicleDoneInspection" required>
            Done Inspection
        </mat-slide-toggle>
    </div>
  </form>