<form [formGroup]="realtyCreateForm">
  <div class="container">
    <mat-card>
      <p>Address Info</p>
      <app-address (createEvent)="receiveMessage($event)"></app-address>
    </mat-card>
      
      <div class="flex-wrapper">
          <mat-form-field style="width: 60%;">
              <input matInput placeholder="Municipal Registration" name="municipalRegistration" formControlName="municipalRegistration">
              <!-- <mat-error *ngIf="!name.valid && (name.touched || name.dirty)">Name is required</mat-error> -->
          </mat-form-field>
      </div>

      <div class="flex-wrapper">
        <mat-form-field style="width: 30%;">
          <input matInput [matDatepicker]="picker" placeholder="Construction Date" name="constructionDate" formControlName="constructionDate" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <!-- <mat-error *ngIf="!birthdate.valid && (birthdate.touched || birthdate.dirty)">Birthdate is required</mat-error> -->
        </mat-form-field>
      </div>

      <div class="flex-wrapper">
        <mat-form-field style="width: 45%;">
            <input matInput type="number" placeholder="Sale Value" name="saleValue" formControlName="saleValue">
            <!-- <mat-error *ngIf="!email.valid && (email.touched || email.dirty)">Email is required</mat-error> -->
        </mat-form-field>

        <mat-form-field style="width: 45%;">
            <input matInput type="number" placeholder="Market Value" name="marketValue" formControlName="marketValue">
            <!-- <mat-error *ngIf="!email.valid && (email.touched || email.dirty)">Email is required</mat-error> -->
        </mat-form-field>
    </div>

    <div>
        <button mat-raised-button color="primary" (click)="realtyPost()" type="submit" [disabled]="!realtyCreateForm.valid"
            style="margin-top: 10px">Submit</button>
    </div>
  </div>
</form>