
<!-- Contract Holder Form -->

<mat-label>
    <h2 class="titleContract">Contract Holder</h2>
  </mat-label>

<form [formGroup]="contractHolder" (ngSubmit)="onSubmit()">
  
  <div class="addressBg"> 
    <mat-card> 
  <mat-form-field style="width: 500px;">
    <input matInput placeholder="Name" name="individualName" maxlength="50" required formControlName="individualName" >
    <mat-error>Name is invalid!</mat-error>
  </mat-form-field> <br>
  
  <mat-form-field style="width: 250px;">
      <input matInput placeholder="RG" name="individualRG" [textMask]="{mask: rgMask}" formControlName="individualRG" required>
      <mat-error>RG is invalid!</mat-error>
  </mat-form-field>  
  
  <mat-form-field style="width: 250px;">
      <input matInput placeholder="CPF" id="individualCPF" [textMask]="{mask: cpfMask}" value="" name="individualCPF" type="text" formControlName="individualCPF" required>
      <mat-error>CPF is invalid!</mat-error>
      <span id="cpfResponse"></span>       
    <script></script>
  </mat-form-field> <br>

  <mat-form-field style="width: 250px;">
      <input matInput [matDatepicker]="picker" placeholder="Birthdate" id="individualBirthdate" formControlName="individualBirthdate" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>Date is invalid!</mat-error>
    </mat-form-field>
    
    <mat-form-field style="width: 350px;">
        <input matInput placeholder="Email" name="individualEmail" type= "email" maxlength="30" formControlName="individualEmail" required email>
        <mat-error>E-mail is invalid!</mat-error>
      </mat-form-field>
    </mat-card>
  </div>
                              <!-- Telephone Component -->
  <div class="addressBg" formArrayName="idTelephone" *ngFor="let telefone of contractHolder.get('idTelephone')['controls'];">
    <mat-card>
      <app-telephone [telephone2]="telefone" (addTelephone)="hanble_add_telphone($event)"></app-telephone>

    </mat-card> 
  </div>  
          <button mat-raised-button color="primary"  (click)="showTelephone()">
              <mat-icon class="material-icons">add</mat-icon>
         </button>      
                  <!-- Final do Telephone Component -->

                  <!-- Address Component -->
  <div class="addressBg"formArrayName="idAddress" *ngFor="let item of contractHolder.get('idAddress')['controls'];">    
    <mat-card >
      <app-address [address2]="item" (addAddress)="handle_add($event)"> </app-address>
    </mat-card> 
  </div>  
  
  <button mat-raised-button color="primary"  (click)="showAddress()">
       <mat-icon class="material-icons">add</mat-icon>
  </button> 
  
  <!-- <button mat-raised-button color="primary" (click)="removeAddress()">
      <mat-icon class="material-icons">remove</mat-icon>
 </button> <br> <br><br> <br> -->
 
  
                <!-- Final do Address -->
                <br>
  <button class="btn-position" button color="primary" mat-raised-button type="submit">Submit Contract Holder</button> <br> <br>
  <br> <br> <br>

  <button mat-raised-button color="primary" (click)="showButton()">Show Contract Holder</button>


  <!-- <div>
    {{ rowData$ | async | json }}
  </div> -->

  <div *ngIf="!showList" class="mat-elevation-z8">
    
    <div>
     

      <ag-grid-angular
      style="width: 100%; height: 5000px;" 
      [pagination]="true"
      class="ag-theme-material" 
      [paginationPageSize]=50
      [gridOptions]="gridOptions"
      suppressClickEdit=true
      [rowData]="rowData$ | async"> 
      </ag-grid-angular>

    </div>
  </div>
</form>

