table {
    width: 100%;
  }
  .mat-form-field{
    display: flex;
    flex-direction: row;
    align-items: center;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin-right: 10px;
}

.tp-radio-button{
padding-right: 15px;
}