.content-container{
    margin: 2px 5px 15px;
    color: lightgray;
    display: flex;
}
.btn-yes{
    height: 50px;
    width: 50%;
    background-color:green;
    color: white;
    border-radius: 0px;
}
.btn-no{
    height: 50px;
    width: 50%;
    background-color:red;
    color: white;
    border-radius: 0px;
}