.titleContract{
    text-align: center;
}

.contractCard{
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.contractHolderName{
  
  margin-top: 1em;
  margin-bottom: 1em;
}
button{
  margin-left: 1em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.btn-position {
  float: right;
  margin-right: 1em;
}