<form [formGroup]="address" (ngSubmit)="onSubmit()">
  <div class="first-container">
    <mat-form-field>
      <input matInput placeholder="Street/Avenue" name="street" #plate formControlName="street" required>
      <mat-error *ngIf="!street.valid">Stree/Avenue is required!</mat-error>
    </mat-form-field>
    <mat-form-field class="select-type">
      <mat-select formControlName="type" #owner placeholder="Select Type" required>
        <mat-option *ngFor="let type of types" [value]="type">
          {{type.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!type.valid">Type is required!</mat-error>      
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Number" name="number" #brand formControlName="number" required>
      <mat-error *ngIf="!number.valid">Number is required!</mat-error>
    </mat-form-field>
  </div>
  <div class="second-container">
    <mat-form-field>
      <input matInput placeholder="State" name="state" #model formControlName="state" required>
      <mat-error *ngIf="!state.valid">State is required!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Neighborhood" name="neighborhood" #color formControlName="neighborhood" required>
      <mat-error *ngIf="!neighborhood.valid">Neighborhood is required!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type='Country' placeholder="country" name="country" #year formControlName="country" required>
      <mat-error *ngIf="!country.valid">Country is required!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type='Zip code' placeholder="zipCode" name="zipCode" #year formControlName="zipCode" required>
      <mat-error *ngIf="!zipCode.valid">Zip code is required!</mat-error>
    </mat-form-field>
  </div>
  <div class="btn-address">
    <button color="primary" mat-raised-button >Submit</button>
  </div>
</form>
