
<form [formGroup]="address2" (ngSubmit)="onSubmit()" class="borderAddress">
  <div class="first-container">

    <mat-form-field>
      <input matInput placeholder="Street/Avenue" name="street" formControlName="street" required>
      <mat-error>Street/Avenue is invalid!</mat-error>
    </mat-form-field>
    <mat-form-field class="select-type" style="width: 350px;">
      <mat-select formControlName="type"  placeholder="Select Type" required>
        <mat-option value="Commercial">Commercial</mat-option>
        <mat-option value="Residential">Residential</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 350px;" >
      <input matInput placeholder="Number" name="number" formControlName="number" required>
      <mat-error>Number is invalid!</mat-error>
    </mat-form-field>
  </div>
  <div class="second-container">
    <mat-form-field style="width: 300px;">
      <input matInput placeholder="State" name="state" formControlName="state" required>
      <mat-error>State is invalid!</mat-error>
    </mat-form-field>
    <mat-form-field style="width: 300px;">
      <input matInput placeholder="Neighborhood" name="neighborhood" formControlName="neighborhood" required>
      <mat-error>Neighborhood is invalid!</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type='Country' placeholder="country" name="country" formControlName="country" required>
      <mat-error>Country is invalid!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type='Zip code' placeholder="zipCode" name="zipCode" formControlName="zipCode" required>
      <mat-error>Zip code is invalid!</mat-error>

      
    </mat-form-field>
  </div>
  <div class="btn-address">

  </div>
</form>
